# VSCode
.vscode
/vscode

# Database
db.sqlite3

# Dependency directories
node_modules/
package-lock.json

# Django migrations
migrations/

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
