/* Color Palette: https://colorhunt.co/palette/2c33332e4f4f0e8388cbe4de */

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --darkest: #2C3333;
  --medium-dark: #2E4F4F;
  --medium-light: #0E8388;
  --lightest: #CBE4DE;

  color-scheme: light dark;
  color: var(--lightest);
  background-color: var(--darkest);
}

body#show-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: var(--medium-light)
}

a:hover,
a:active {
  color: var(--medium-dark);
  text-decoration: underline;
}

div#code-block-div {
  padding: 5px;
  background-color: var(--medium-dark);
  color: var(--lightest)
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--lightest);
    background-color: var(--darkest);
  }
}
