.settings-div#exist {
    margin: 2rem auto;
    height: 350px;
}

.settings-div#not-found {
    margin: 2rem auto;
    height: 150px;
}

@media (max-width: 450px) {
    .settings-div {
        min-width: 95%;
    }
}

@media (max-width:750px) {
    .settings-div {
        max-width: 80%;
    }
}

@media (min-width: 750px) {
    .settings-div {
        width: 700px;
    }
}
