.sort-box-div {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    height: 38px;
    margin-bottom: 5px;
    width: 82px;
}

.sort-box-btn {
    padding: 0;
    height: 38px;
    width: 100%;
    background-color: var(--lightest);
    color: var(--darkest);
    border-radius: 5px;
}

.sort-box-btn:hover {
    background-color: var(--medium-dark);
    color: var(--lightest)
}

.sort-box-btn div {
    display: flex;
    gap: 5px;
    padding: 5px
}

.sort-box-btn img {
    width: 20px;
}

.sort-box-btn p {
    margin: auto 0;
}

.sort-box-options {
    z-index: 20;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 5px 5px;
    border: 2px ridge #666666;
}

.sort-option-btn {
    height: 23px;
    padding: 0;
    text-align: center;
    border: none;
    background-color: var(--lightest);
    color: var(--darkest);
}

.sort-option-btn:hover {
    background-color: var(--medium-dark);
    color: var(--lightest)
}
